.wsa_box {
	 
	color: #000000;
	padding: 0px;
	background-repeat:no-repeat;
	margin:0px;
	position: absolute;
	z-index: 100000000;
	
	
	

	
}

.plustransparentborder{
	
	/* this should be in code
	border: 6px solid rgba(214,214,214,0.6);
	*/

	-webkit-border-radius: 0px;
    border-radius: 0px;
	
	/*background:#ffffff;*/
	 
	-moz-background-clip: border;     /* Firefox 3.6 */
	-webkit-background-clip: border;  /* Safari 4? Chrome 6? */
	background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
	-moz-background-clip: content;     /* Firefox 3.6 */
	-webkit-background-clip: content;  /* Safari 4? Chrome 6? */
	background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

}


.wsa_shadow {
	-moz-box-shadow: 2px 2px 3px #333;
	-webkit-box-shadow: 2px 2px 3px #ccc;
	box-shadow: 2px 2px 3px #333;
	
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');
}



.leftalign{
text-align: left;
}

.rightalign{
text-align: right;
}

table.wsa_embed_table{
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

table.wsa_embed_table td{
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
	width:50%;
}


.wsa_embed_moveme{
	padding-right:15px;
}